@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #1e1e1f;
    background-attachment: fixed;

}

.section1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    width: 380px;
    height: 420px;
    background-color: rgb(38, 38, 38);
    border-radius: 8px;
    overflow: hidden;
}

.box:before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,rgb(166, 76, 240), rgb(166, 76, 240));
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box:after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, rgb(166, 76, 240), rgb(166, 76, 240));
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s ;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.form {
    position: absolute;
    z-index: 10;
    background: rgb(38, 38, 38);
    inset: 2px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.titulo {
    font-size: 40px;
    font-weight: 400;
    font-family: 'Righteous', sans-serif;
    color: aliceblue;
}

.infos {
    background-color: rgb(38, 38, 38);
    border-bottom: 1px solid rgb(166, 76, 240);
    width: 300px;
    height: 35px;
    color: aliceblue;
    text-align: center;
}

h2 {
    font-size: 15px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(196, 199, 202);
    cursor: pointer;
}

h2:hover {
    color: rgba(196, 199, 202, 0.774);
}

.button-login {
    width: 300px;
    height: 45px;
    border-radius: 20px;
    background-color: rgb(108, 36, 167);
    font-size: 15px;
    color: aliceblue;
}

.button-login:hover {
    border-radius: 20px;
    background-color: rgb(86, 21, 139);
    font-size: 15px;
}